
.button{
    width: 40px;
    height: 40px;
    margin: 2px;
    font-weight: bold;
    background-color:white;
    color:violet;
    border-radius: 10px;
    border: 1px solid violet;
    transition: all 0.3s ease-in;
}
.button:hover{
    background-color: plum;
    color: white;
    scale: 1.05;
}
#text{
    width: 160px;
    height: 15px;
    padding: 10px;
    border: 2px solid violet;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
}
.equal-button{
    background-color: white;
}